#content{
  width: 90%;
  margin: auto;
}

.fixed_bottom{
  display: inline-block;
  position: relative;
background: linear-gradient(90deg, #5A5A5A -44.58%, #9A9A9A 111.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 198px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: auto;
  white-space: nowrap;
  bottom: 0;
  left: 0;
}

.totalblack {
  background: #000;
  color: #fff;
  width: 100%;
  margin: auto;
}

@keyframes gradient4 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  }


  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }



.onBlack button{
  color: #000;
  transition: all 1s ease-in-out;
}
.onBlack .logotype a{
  color: #000;
  transition: all 1s ease-in-out;
}

.onBlack .line-bar{
  background: #000;
  transition: all 1s ease-in-out;
}

.onBlack:not(button) {
  transition: all 1s ease-in-out;
}
.onWhite:not(.line-bar) {
  transition: all 1s ease-in-out;
}
  
.onWhite .logotype a {
  color: #fff;
}

.onWhite button{
  color: #fff;
  transition: all 1s ease-in-out;
}

.onWhite .line-bar{
  background: #fff;
  transition: all 1s ease-in-out;
}

.onWhite:not(button) {
  transition: all 1s ease-in-out;
}

.onWhite:not(.line-bar) {
  transition: all 1s ease-in-out;
}